page-about {
  .wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
  }
}


.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}
